* {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
  padding: 0;
}

.block {
  width: 300px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
